<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Document</title>
	</head>
	<body>
		<h1>Choose Room</h1>
		<form id="roomForm">
			<input type="text" id="roomInput" required />
			<button type="submit">입장</button>
		</form>
		<script>
			document.getElementById("roomForm").addEventListener("submit", (e) => {
				e.preventDefault();
				const roomName = document.getElementById("roomInput").value;
				console.log(roomName);
				window.location.href = "/" + roomName;
			});
		</script>
	</body>
</html>
